As a new user of git and GitHub, I'm not really aware, what sense this file makes and what should be a typical content. My assumption is, it's to declare this repository to be not a "real project".
If this assumption is true, it would fit to my expectations.
